#easy_admin:
#    entities:
#        # List the entity class name you want to manage
#        - App\Entity\Product
#        - App\Entity\Category
#        - App\Entity\User
easy_admin:
  design:
    form_theme:
        - 'easyadmin-bundle/src/Resources/views/form/bootstrap_4.html.twig'
    templates:
        layout: 'easyadmin-bundle/src/Resources/views/default/layout.html.twig' # templates/layout.html.twig
        list: 'easyadmin-bundle/src/Resources/views/default/list.html.twig'
        new: 'easyadmin-bundle/src/Resources/views/default/new.html.twig'
        show: 'easyadmin-bundle/src/Resources/views/default/show.html.twig'
        edit: 'easyadmin-bundle/src/Resources/views/default/edit.html.twig'
        menu: 'easyadmin-bundle/src/Resources/views/default/menu.html.twig'
    menu:
      - {label: "Entities"}
      - { entity: 'User', label: 'Users', icon: 'users', roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN',  'ROLE_USER' ] }
      - { label: 'Form Builder', module: 'Form', icon: 'newspaper', route: 'form_builder_list' }
      - { entity: 'Group', label: 'Role Permissions', icon: 'lock', roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN',  'ROLE_USER' ] }
      - { entity: 'Entitygroup', label: 'Module', icon: 'lock', roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN',  'ROLE_USER' ] }
     
        

  site_name: 'Admin Panel'
  user:
      display_name : true
      display_avatar: true
      name_property_path: "firstName" 
  entities:
    User:
      class: App\Entity\User
      controller: App\Controller\AdminUserController
      label: "Users"
      #roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN',  'ROLE_USER']
      templates:
        show: 'admin/user/show.html.twig'
        list: 'admin/user/list.html.twig'
        new: 'admin/user/new.html.twig'
        edit: 'admin/user/edit.html.twig'
      list:
        fields:
          - prefix
          - firstName
          - lastName
          - email
          - institutionName
          - roles
        collapse_actions: true
        actions:
          - { name: 'create',roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN_LEVEL_2','ROLE_USER'] }          
          - { name: 'import',roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN_LEVEL_2', 'ROLE_USER'] }          
          - { name: 'show',roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN' , 'ROLE_USER', 'ROLE_ADMIN_LEVEL_2', 'ROLE_USER'] }
          - { name: 'edit',roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN_LEVEL_2', 'ROLE_USER'] }
          - { name: 'delete',roles: ['ROLE_SUPER_ADMIN', 'ROLE_USER'] }
        batch_actions: ['delete' ]
        item_permission:  ['ROLE_ADMIN', 'ROLE_USER', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN_LEVEL_2' ]
      form:
        fields:
          - prefix
          - firstName
          - lastName
          - email
          - institutionName
          - enabled
          # - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'ROLE_USER': 'ROLE_USER', 'ROLE_ADMIN': 'ROLE_ADMIN', 'ROLE_SUPER_ADMIN':'ROLE_SUPER_ADMIN'} } }
          - { property: 'groups', label: 'Roles', type: 'entity', type_options: { multiple: true, expanded: false, choice_label: 'name', class: 'App\Entity\Group' } }
          - { property: 'plainPassword', type: 'text', type_options: { required: false } }
      edit:
        actions:          
          - { name: 'delete',roles: ['ROLE_SUPER_ADMIN', 'ROLE_USER'] }
        item_permission:  ['ROLE_ADMIN', 'ROLE_USER', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN_LEVEL_2']
      show:
        fields:
          - prefix
          - firstName
          - lastName
          - email
          - institutionName
          - roles
          - enabled
        actions:          
          - { name: 'edit',roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN', 'ROLE_USER'] }
          - { name: 'delete',roles: ['ROLE_SUPER_ADMIN', 'ROLE_USER'] }
        item_permission:  ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN', 'ROLE_USER', 'ROLE_ADMIN_LEVEL_2']
      new:
        item_permission:  ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN_LEVEL_2', 'ROLE_USER']
    Group:
      class: App\Entity\Group
      controller: App\Controller\RolePermissionController
      label: "Role Permissions"
      templates:
        show: 'admin/group/show.html.twig'
        list: 'admin/group/list.html.twig'
        edit: 'admin/group/edit.html.twig'
        new: 'admin/group/new.html.twig'
      list:
        fields:
          - name
          # - id
        
        collapse_actions: true
        actions:
          - { name: 'create',roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN_LEVEL_2','ROLE_USER' ] }          
          - { name: 'show',roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN' , 'ROLE_USER', 'ROLE_ADMIN_LEVEL_2', 'ROLE_USER'] }
          - { name: 'edit',roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN_LEVEL_2','ROLE_USER'] }
          - { name: 'delete',roles: ['ROLE_SUPER_ADMIN', 'ROLE_USER'] }
        batch_actions: ['delete' ]
        item_permission:  ['ROLE_ADMIN', 'ROLE_USER', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN_LEVEL_2' ]
      show:
        fields:
          - name
          - { property: 'entities', type: 'collection', type_options: { allow_delete: false, allow_add: true, by_reference: true, entry_type: 'App\Form\Type\EntityGroupType' } }
        actions:          
          - { name: 'edit',roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN', 'ROLE_USER'] }
          - { name: 'delete',roles: ['ROLE_SUPER_ADMIN', 'ROLE_USER'] }
        item_permission:  ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN', 'ROLE_USER', 'ROLE_ADMIN_LEVEL_2']
      form:
        fields:
          - name
          - { property: 'entities', type: 'collection', type_options: { allow_delete: false, allow_add: true, by_reference: true, entry_type: 'App\Form\Type\EntityGroupType' } }

    Entitygroup:
      class: App\Entity\Entitygroup
      controller: App\Controller\ModuleController
      label: "Module"
      list:
        fields:
          # - id
          - name
        collapse_actions: true
        actions:
          - { name: 'create',roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN_LEVEL_2','ROLE_USER' ] }          
          - { name: 'show',roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN' , 'ROLE_USER', 'ROLE_ADMIN_LEVEL_2'] }
          - { name: 'edit',roles: ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN_LEVEL_2', 'ROLE_USER'] }
          - { name: 'delete',roles: ['ROLE_SUPER_ADMIN', 'ROLE_USER', 'ROLE_DEVELOPER'] }
        batch_actions: ['delete' ]
        item_permission:  ['ROLE_ADMIN', 'ROLE_USER', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN_LEVEL_2' ]
      form:
        fields:
          - name
          - label
    


      
      
