
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/**
/src/Migrations
###/vendor/
/vendor/**
/.env
/.gitignore
.gitignore
composer.lock
/composer.lock

##/public/
/public/**
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
config/bundles.php


##
.DS_Store
/src/.DS_Store

##db
*.sql

