{% if is_granted('ROLE_ADMIN') %}
<div class="actions-dropdown">
    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle">
        <i class="fa fa-fw fa-ellipsis-h"></i>
    </button>

    <div class="dropdown-menu dropdown-menu-right">
        {{ include('//easyadmin-bundle/src/Resources/views/default/includes/_actions.html.twig', { is_dropdown: true }) }}
    </div>
</div>
{% endif %}